#evidenteDialog {
    width:50%;
    background-color:#F4FFEF;
    border:1px dotted black;
}
body{
    font-size: 16px;
    font-family: sans-serif;
    color: #333;
}
.question{
    font-weight: 600;
    padding-left:20px;
}
.answers {
  margin-bottom: 20px;
  padding-left:30px;
}
.answers label{
  display: block;
}
#header{
    font-family: sans-serif;
    font-size: 16px;
    background-color: red;
    color: #fff;
    border: 0px;
    border-radius: 0px;
    padding: 0px;
	height: 30px;
	text-align: center;
}
#error{
    font-family: sans-serif;
    font-size: 14px;
    border: 2px;
    border-radius: 6px;
}
#quiz{
    margin-top: 20px;
}
#submit{
    font-family: sans-serif;
    font-size: 16px;
    background-color: red;
    color: #fff;
    border: 0px;
    border-radius: 6px;
    padding: 7px;
    cursor: pointer;
    margin-left: 30px;
    margin-bottom: 10px;
	width:150px;
}
#close{
    font-family: sans-serif;
    font-size: 16px;
    background-color: red;
    color: #fff;
    border: 0px;
    border-radius: 6px;
    padding: 7px;
    cursor: pointer;
    margin-left: 30px;
    margin-bottom: 10px;
	width:150px;
}
#submit:hover{
    background-color: #38a;
}
#close:hover{
    background-color: #38a;
}
