<html>
<head>
    <meta>
    <meta>
</head>
<body >
    <div>
        <md-input-container>
            <label>Tipo de Orden:</label>
            <input type="text" ng-model="orderType">
        </md-input-container>
        <md-input-container>
            <label>Subtipo de Orden:</label>
            <input type="text" ng-model="orderSubTipe">
        </md-input-container>
        <md-input-container>
            <label>Regional:</label>
            <input type="text" ng-model="regional">
        </md-input-container>
        <md-input-container>
            <label>Estado Interno:</label>
            <input type="text" ng-model="internalState">
        </md-input-container>
        <md-input-container>
            <label>SLA:</label>
            <input type="text" ng-model="sla">
        </md-input-container>
        <md-input-container>
            <label>Estado de SLA:</label>
            <input type="text" ng-model="slaState">
        </md-input-container>
        <md-input-container>
            <label>Fecha de Creación:</label>
            <input type="text" ng-model="createDate">
        </md-input-container>
        <md-input-container>
            <label>Código Vendedor:</label>
            <input type="text" ng-model="salesCode">
        </md-input-container>
        <md-input-container>
            <label>Canal de Ventas:</label>
            <input type="text" ng-model="salesChannel">
        </md-input-container>
        <md-input-container>
            <label>Servicios Instalados:</label>
            <input type="text" ng-model="installedServices">
        </md-input-container>
    </div>
</body>
</html>