<table>
   <tr>
      <td>
         <table>
            <tr>
               <td class="tSearch" id="lblSearch" style="width: 60px; " data-translate="tSearch">Search</td>
               <td>
                  <!--name field-->
                  <input tabindex="2" id="SearchText" style='padding: 2px 0px 3px 5px; border: 1px solid rgb(204, 204, 204); width: 150px; font-family: "Segoe UI"; font-size: 11px; font-weight: 600;' type="text">
               </td>
            </tr>
         </table>
      </td>
      <td style="padding-left: 5px;padding-right: 5px">
         <input name="CustomerType" tabindex="4"  type="radio" checked="checked" value="Individuals"><span class="tIndividuals" data-translate="tIndividuals">Individuals</span>
<!--         <input name="CustomerType" tabindex="5"  type="radio" value="Corporates"><span class="tCorporates" data-translate="tCorporates">Corporates</span> -->
      </td>
      <td>
      <td>
         <a tabindex="6" class="easyui-linkbutton l-btn l-btn-plain" onclick=" doSimpleSearch() " href=" #" data-options="plain:true,iconCls:'icon-search'" group="">
         <span class="l-btn-left">
         <span class="l-btn-text icon-search l-btn-icon-left">
         <span class="tSearch" style="font-size: 12px;" data-translate="tSearch">SEARCH</span>
         </span>
         </span>
         </a>
      </td>
   </tr>
</table>