<div title="Search Individuals" class="tSearchIndividuals" id="SearchIndividuals" style="width: 100%; color: rgb(102, 102, 102); font-size: 12px;" data-translate="tSearchIndividuals">
   <table style="margin: 5px 0px 0px 25px;">
      <tbody>
         <tr style="line-height: 24px;">
            <td class="tFirstName" style="width: 120px;" data-translate="tFirstName">First Name</td>
            <td style="color: black;">
               <input tabindex="13" id="IndividualCustomerFirstName" style='margin: 0px; padding: 2px 0px 3px 5px; border: 1px solid rgb(204, 204, 204); width: 150px; font-family: "Segoe UI"; font-size: 11px; font-weight: 600;' type="text">
            </td>
            <td style="width: 20px;"></td>
            <td class="tAccountNumber" style="width: 120px;" data-translate="tAccountNumber">Account Number</td>
            <td style="color: black;">
               <input tabindex="17" id="IndividualCustomerAccountNumber" style='margin: 0px; padding: 2px 0px 3px 5px; border: 1px solid rgb(204, 204, 204); width: 150px; font-family: "Segoe UI"; font-size: 11px; font-weight: 600;' type="text">
            </td>
            <td style="width: 20px;"></td>
            <td class="tCountry" style="width: 120px;" data-translate="tCountry">Country</td>
            <td style="color: black;">
               <select tabindex="21" id="IndividualCustomerCountry" style='margin: 0px; padding: 2px 0px 3px 5px; border: 1px solid rgb(204, 204, 204); width: 150px; font-family: "Segoe UI"; font-size: 11px; font-weight: 600;'></select>
            </td>
         </tr>
         <tr style="line-height: 24px;">
            <td class="tLastName" style="width: 120px;" data-translate="tLastName">Last Name</td>
            <td style="color: black;">
               <input tabindex="14" id="IndividualCustomerLastName" style='margin: 0px; padding: 2px 0px 3px 5px; border: 1px solid rgb(204, 204, 204); width: 150px; font-family: "Segoe UI"; font-size: 11px; font-weight: 600;' type="text">
            </td>
            <td style="width: 20px;"></td>
            <td class="tInvoiceNumber" style="width: 120px;" data-translate="tInvoiceNumber">Invoice Number</td>
            <td style="color: black;">
               <input tabindex="18" id="IndividualCustomerInvoiceNumber" style='margin: 0px; padding: 2px 0px 3px 5px; border: 1px solid rgb(204, 204, 204); width: 150px; font-family: "Segoe UI"; font-size: 11px; font-weight: 600;' type="text">
            </td>
            <td style="width: 20px;"></td>
            <td class="tCity" style="width: 120px;" data-translate="tCity">City</td>
            <td style="color: black;">
               <select tabindex="22" id="IndividualCustomerCity" style='margin: 0px; padding: 2px 0px 3px 5px; border: 1px solid rgb(204, 204, 204); width: 150px; font-family: "Segoe UI"; font-size: 11px; font-weight: 600;'></select>
            </td>
         </tr>
         <tr style="line-height: 24px;">
            <td class="tIdentityNo" style="width: 120px;" data-translate="tIdentityNo">Identity No</td>
            <td style="color: black;">
               <input tabindex="15" id="IndividualCustomerIdentityNo" style='margin: 0px; padding: 2px 0px 3px 5px; border: 1px solid rgb(204, 204, 204); width: 150px; font-family: "Segoe UI"; font-size: 11px; font-weight: 600;' type="text">
            </td>
            <td style="width: 20px;"></td>
            <td class="tPhone" style="width: 120px;" data-translate="tPhone">Phone</td>
            <td style="color: black;">
               <input tabindex="19" id="IndividualCustomerPhone" style='margin: 0px; padding: 2px 0px 3px 5px; border: 1px solid rgb(204, 204, 204); width: 150px; font-family: "Segoe UI"; font-size: 11px; font-weight: 600;' type="text">
            </td>
            <td style="width: 20px;"></td>
            <td class="tCustomerStatus" style="width: 120px;" data-translate="tCustomerStatus">Customer Status</td>
            <td style="color: black;">
               <select tabindex="23" id="IndividualCustomerStatus" style='margin: 0px; padding: 2px 0px 3px 5px; border: 1px solid rgb(204, 204, 204); width: 150px; font-family: "Segoe UI"; font-size: 11px; font-weight: 600;'></select>
            </td>
         </tr>
         <tr style="line-height: 24px;">
            <td class="tExternalID" style="width: 120px;" data-translate="tExternalID">External ID</td>
            <td style="color: black;">
               <input tabindex="16" id="IndividualCustomerExternalID" style='margin: 0px; padding: 2px 0px 3px 5px; border: 1px solid rgb(204, 204, 204); width: 150px; font-family: "Segoe UI"; font-size: 11px; font-weight: 600;' type="text">
            </td>
            <td style="width: 20px;"></td>
            <td class="tEmail" style="width: 120px;" data-translate="tEmail">E-mail</td>
            <td style="color: black;">
               <input tabindex="20" id="IndividualCustomerEmail" style='margin: 0px; padding: 2px 0px 3px 5px; border: 1px solid rgb(204, 204, 204); width: 150px; font-family: "Segoe UI"; font-size: 11px; font-weight: 600;' type="text">
            </td>
            <td style="width: 20px;"></td>
            <td style="width: 120px;"></td>
            <td style="color: black;"></td>
         </tr>
         <tr style="line-height: 24px;">
            <td style="width: 120px;"></td>
            <td></td>
            <td style="width: 20px;"></td>
            <td style="width: 120px;"></td>
            <td></td>
            <td style="width: 20px;"></td>
            <td style="width: 120px;"></td>
            <td style="width: 120px;">
               <a tabindex="6" class="easyui-linkbutton l-btn l-btn-plain" onclick=" doIndividualCustomerSearch()" href=" #" data-options="plain:true,iconCls:'icon-search'" group="">
               <span class="l-btn-left">
               <span class="l-btn-text icon-search l-btn-icon-left">
               <span class="tSearch" style="font-size: 12px;" data-translate="tSearch">SEARCH</span>
               </span>
               </span>
               </a>
               <a tabindex="7" class="easyui-linkbutton l-btn l-btn-plain" onclick="cleanIndividualSearchForm()" href="#" data-options="plain:true,iconCls:'icon-clear'" group="">
               <span class="l-btn-left">
               <span class="l-btn-text icon-clear l-btn-icon-left">
               <span class="tClear" style="font-size: 12px;" data-translate="tClear">CLEAR</span>
               </span>
               </span>
               </a>
            </td>
         </tr>
      </tbody>
   </table>
</div>