<div title="Simple Search" class="tSimpleSearch" id="SimpleSearch" style="margin-bottom:10px; width: 100%; color: rgb(102, 102, 102); font-size: 12px;" data-translate="tSimpleSearch">
    <table style="margin: 5px 0px 0px 25px;height:auto;">
        <tbody>
            <tr>
                <td class="tLookFor" style="width: 60px; margin-right: 10px;" data-translate="tLookFor">Look For</td>
                <td style="margin: 5px;">
                  <select tabindex="1" id="LookFor" style='margin: 5px; margin-right: 20px; padding: 2px 0px 3px 5px; border: 1px solid rgb(204, 204, 204); width: 150px; font-family: "Segoe UI"; font-size: 11px; font-weight: 600;' onchange="changeLookFor()">
                       
                    </select>
                </td>
                  <td id="childTemplateContainer" style="margin:0px;padding:0px;">
				
                 </td>
                 <td style="padding-left:5px;">
                  <a tabindex="7" class="easyui-linkbutton l-btn l-btn-plain" onclick="cleanSimpleSearchForm()" href="#" data-options="plain:true,iconCls:'icon-clear'" group="">
						<span class="l-btn-left">
							<span class="l-btn-text icon-clear l-btn-icon-left">
								<span class="tClear" style="font-size: 12px;" data-translate="tClear">CLEAR</span>
							</span>
						</span>
					</a>
                 </td>
            </tr>
        </tbody>
    </table>
</div>