<html>
<head>
    <meta charset="utf-8" />
</head>
<body style="-ms-word-wrap: break-word;">
    <div rtl-dir="{{direct}}" ng-controller="deliveryController">
        <div style="float: left">
            <div ng-if="scopeData.delivery.storageList == null">
                <div class="dataGridTitleText dataGridTitleRed" style="margin-bottom: 8px; text-align:left;">
                    <span>Ningun SIM Card para entrega.</span>
                </div>
            </div>
            <table ng-show="scopeData.delivery.storageList && scopeData.delivery.userValidated" style="width:460px;">
                <tr>
                    <td style="padding: 7px 4px; font-size: 14px"> Please Select</td>
                    <td style="padding: 7px 4px; font-size: 14px">
                        <select ng-model="scopeData.delivery.selectedValue" style="width:180px; padding: 3px;" ng-change="scopeData.delivery.assignSimNumber();">
                            <option ng-repeat="item in scopeData.delivery.storageList" value="{{ item }}">{{ item.stmedno }}</option>
                        </select>

                    </td>
                </tr>
                <tr ng-repeat="resourceRequiredOrderItem in scopeData.delivery.resourceRequiredOrderItems">
                    <td style="padding: 7px 4px; width: 80px; font-size: 14px"> SIM Number</td>
                    <td style="padding: 7px 4px; width: 300px">
                        <input type="text" ng-model="scopeData.delivery.simNumber[$index]" style="padding:4px; width:180px;" readonly />
                        <input type="button" ng-click="scopeData.delivery.validateNumber(resourceRequiredOrderItem, $index);" value="Validate" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>