<div style="border-bottom-color: #cd9835; border-bottom-style: solid; border-bottom-width: 2px">
    <table>
        <tr>
            <td style="padding-left: 20px; text-align: left; border-right-color: none; border-right-width: 0px; border-right-style: none;">
                <div class="processStepCompleteIconDiv">
                    <img title="Completed" class="processStepCompleteIcon completedStep" alt="Completed" src="images/imagestrips/transparent_spacer.gif">
                </div>
                <span>Address Selected</span>
            </td>
            <td style="padding-left: 20px; text-align: left; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;">
                <span>
                    <b>Yes</b>
                </span>
            </td>
            <td style="padding-left: 20px; text-align: left; border-right-color: none; border-right-width: 0px; border-right-style: none;">
                <div class="processStepCompleteIconDiv">
                    <img title="Completed" class="processStepCompleteIcon completedStep" alt="Completed" src="images/imagestrips/transparent_spacer.gif">
                </div>
                <span>Product Selected</span>
            </td>
            <td style="padding-left: 20px; text-align: left; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;">
                <span>

                </span>
            </td>
            <td style="padding-left: 20px; text-align: left; border-right-color: none; border-right-width: 0px; border-right-style: none;">
                <div class="processStepCompleteIconDiv">
                    <img title="Completed" class="processStepCompleteIcon completedStep" alt="Completed" src="images/imagestrips/transparent_spacer.gif">
                </div>
                <span>CreditCheck Performed</span>
            </td>
            <td style="padding-left: 20px; text-align: left; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;">
                <span>

                </span>
            </td>
        </tr>
        <tr>
            <td style="padding-left: 20px; text-align: left; border-right-color: none; border-right-width: 0px; border-right-style: none;">
                <div class="processStepCompleteIconDiv">
                    <img title="Completed" class="processStepCompleteIcon completedStep" alt="Completed" src="images/imagestrips/transparent_spacer.gif">
                </div>
                <span>Portability</span>
            </td>
            <td style="padding-left: 20px; text-align: left; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;">
                <span>

                </span>
            </td>
            <td style="padding-left: 20px; text-align: left; border-right-color: none; border-right-width: 0px; border-right-style: none;">
                <div class="processStepCompleteIconDiv">
                    <img title="Completed" class="processStepCompleteIcon completedStep" alt="Completed" src="images/imagestrips/transparent_spacer.gif">
                </div>
                <span>Product Configured</span>
            </td>
            <td style="padding-left: 20px; text-align: left; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;">
                <span>

                </span>
            </td>
            <td style="padding-left: 20px; text-align: left; border-right-color: none; border-right-width: 0px; border-right-style: none;">
                <div class="processStepCompleteIconDiv">
                    <img title="Completed" class="processStepCompleteIcon completedStep" alt="Completed" src="images/imagestrips/transparent_spacer.gif">
                </div>
                <span>Documents Uploaded</span>
            </td>
            <td style="padding-left: 20px; text-align: left; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;">
                <span>

                </span>
            </td>
        </tr>
        <tr>
            <td style="padding-left: 20px; text-align: left; border-right-color: none; border-right-width: 0px; border-right-style: none;">
                <div class="processStepCompleteIconDiv">
                    <img title="Completed" class="processStepCompleteIcon completedStep" alt="Completed" src="images/imagestrips/transparent_spacer.gif">
                </div>
                <span>Portability Verified</span>
            </td>
            <td style="padding-left: 20px; text-align: left; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;">
                <span>

                </span>
            </td>
            <td style="padding-left: 20px; text-align: left; border-right-color: none; border-right-width: 0px; border-right-style: none;">
                <div class="processStepCompleteIconDiv">
                    <img title="Completed" class="processStepCompleteIcon completedStep" alt="Completed" src="images/imagestrips/transparent_spacer.gif">
                </div>
                <span>Resources Reserved</span>
            </td>
            <td style="padding-left: 20px; text-align: left; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;">
                <span>

                </span>
            </td>
            <td style="padding-left: 20px; text-align: left; border-right-color: none; border-right-width: 0px; border-right-style: none;">
                <div class="processStepCompleteIconDiv">
                    <img title="Completed" class="processStepCompleteIcon completedStep" alt="Completed" src="images/imagestrips/transparent_spacer.gif">
                </div>
                <span></span>
            </td>
            <td style="padding-left: 20px; text-align: left; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;">
                <span>

                </span>
            </td>
        </tr>
    </table>
    <br />
</div>
﻿<div id="container" ng-controller="billingController" rtl-dir="{{direct}}">
    <div class="formContent" disable-contents="!rootScopeData.currentStage.isActive">
        <table border="0" style="width: 100%">
            <tbody>
                <tr>
                    <td valign="top" style="width: 50%;">
                        <div id="billingAccountDataSection" ng-class="{'formSection newlineSection':!isRTL,'rtlformSection newlineSection':isRTL}">
                            <div class="dataGridTitleText dataGridTitleTextUnderlined"><span>Billing Account</span></div>
                            <div class="floatRightButtonGroup_remove" id="newCustomerSearchButtonGroup">
                                <button class="formButton" ng-click="scopeData.CreateBillingAccount()">Create</button>
                                <button class="formButton" ng-click="scopeData.UpdateBillingAccount()">Update</button>
                                <button class="formButton" ng-click="scopeData.RefreshBillingAccount()">Refresh</button>
                            </div>
                            <table class="formTable" style="border: currentColor; border-image: none;">
                                <tbody>
                                    <tr class="formField">
                                        <td>
                                            <div title="Billing Account" class="formFieldLabel">
                                                <span>{{scopeData.translations.tBillingAccount}}</span>
                                                <img class="requiredFieldIcon" src="images/imagestrips/transparent_spacer.gif">
                                            </div>
                                        </td>
                                        <td class="formFieldValue">
                                            <select ng-options="item.billingAccount for item in scopeData.SelectedBillingAccounts"
                                                    ng-model="SelectedBillingAccount">
                                                <option value="">{{scopeData.translations.tAll}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="formField formFieldTextArea">
                                        <td rowspan="3">
                                            <div title="Billing Address" class="formFieldLabel">
                                                <span>{{scopeData.translations.tBillingAddress}}</span>
                                            </div>
                                        </td>
                                        <td rowspan="3">
                                            <span class="nullable">{{SelectedBillingAccount.billingAddress}}</span>
                                        </td>
                                    </tr>
                                    <tr></tr>
                                    <tr></tr>
                                    <!--tr class="formField formFieldTextArea">
                                        <td rowspan="3">
                                            <div title="Mailing Address" class="formFieldLabel">
                                                <span>{{scopeData.translations.tMailingAddress}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="nullable">{{SelectedBillingAccount.mailingAddress}}</span>
                                        </td>
                                    </tr-->
                                    <tr></tr>
                                    <tr></tr>
                                    <tr class="formField">
                                        <td>
                                            <div title="Bill Medium" class="formFieldLabel">
                                                <span>{{scopeData.translations.tBillMedium}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="nullable">{{SelectedBillingAccount.billMedium}}</span>
                                        </td>
                                    </tr>
                                    <!--tr class="formField">
                                        <td>
                                            <div title="Number of Copies" class="formFieldLabel">
                                                <span>{{scopeData.translations.tNumberOfCopies}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="nullable">{{SelectedBillingAccount.numberOfCopies}}</span>
                                        </td>
                                    </tr>
                                    <tr class="formField">
                                        <td>
                                            <div title="Call Itemization" class="formFieldLabel">
                                                <span>{{scopeData.translations.tCallItemization}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="nullable">{{SelectedBillingAccount.callItemization}}</span>
                                        </td>
                                    </tr>
                                    <tr class="formField">
                                        <td>
                                            <div title="Language" class="formFieldLabel">
                                                <span>{{scopeData.translations.tLanguageTitle}}</span>
                                                <img class="requiredFieldIcon" src="images/imagestrips/transparent_spacer.gif">
                                            </div>
                                        </td>
                                        <td class="formFieldValue">
                                            <span class="nullable">{{SelectedBillingAccount.language}}</span>
                                        </td>
                                    </tr-->
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td valign="top" style="width: 50%;">
                        <div class="dataGridTitleText dataGridTitleTextUnderlined"><span>Order Basket</span></div>
                        <div class="dataGridWrapper" style="min-width: 0px;">
                            <table style='width: 100%; font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; font-size: 11px; border-collapse: collapse;'>
                                <colgroup>
                                    <col style="width: 100px;">
                                    <col style="width: 80px;">
                                    <col style="width: 80px;">
                                    <col style="width: 80px;">
                                    <col style="width: 80px;">
                                    <col style="width: 80px;">
                                    <col style="width: 80px;">
                                    <col style="width: 80px;">
                                    <col style="width: 80px;">
                                </colgroup>
                                <thead>
                                    <tr style="border-top-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;">
                                        <th style="text-align: center; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;">Offerings & Characteristics</th>
                                        <th style="text-align: center; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;">Char Values</th>
                                        <th style="text-align: center; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;">MSISDN</th>
                                        <th style="text-align: center; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;">SIM</th>
                                        <th style="text-align: center; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;">One Time Price</th>
                                        <th style="text-align: center; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;">Deposit Price</th>
                                        <th style="text-align: center; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;">Recurring Price</th>
                                        <th style="text-align: center; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;">Period</th>
                                        <th style="text-align: center; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: none;">Checkout Price</th>
                                    </tr>
                                </thead>
                            </table>
                            <table style="font-size: 11px;">
                                <colgroup>
                                    <col style="width: 100px;">
                                    <col style="width: 80px;">
                                    <col style="width: 80px;">
                                    <col style="width: 80px;">
                                    <col style="width: 80px;">
                                    <col style="width: 80px;">
                                    <col style="width: 80px;">
                                    <col style="width: 80px;">
                                    <col style="width: 80px;">
                                </colgroup>

                                <tbody>
                                    <tr class="dataGridBodyRow" ng-class="{ selectedRow : OrderItem.IsSelected }" ng-repeat-start="OrderItem in scopeData.OrderItems track by $index">
                                        <td align="left">
                                            <div class="dataGridCellContent">
                                                <span>{{OrderItem.OfferingName}}</span>
                                            </div>
                                        </td>
                                        <td align="center">
                                            <div class="dataGridCellContent">
                                                <span>{{OrderItem.charValues}}</span>
                                            </div>
                                        </td>
                                        <td align="center">
                                            <div class="dataGridCellContent">
                                                <span>{{OrderItem.OneTimeCharge}}</span>
                                            </div>
                                        </td>
                                        <td align="center">
                                            <div class="dataGridCellContent">
                                                <span>{{OrderItem.Deposit}}</span>
                                            </div>
                                        </td>
                                        <td align="center">
                                            <div class="dataGridCellContent">
                                                <span>{{OrderItem.RecurringCharge}}</span>
                                            </div>
                                        </td>
                                        <td align="center">
                                            <div class="dataGridCellContent">
                                                <span>{{OrderItem.Period}}</span>
                                            </div>
                                        </td>
                                        <td align="center">
                                            <div class="dataGridCellContent">
                                                <span>{{OrderItem.CheckOutPrice}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="dataGridBodyRow" style="text-align: center; font-size: 11px;" ng-repeat="char in OrderItem.CharacteristicList track by $index">
                                        <td align="left" style="padding-left: 15px;">
                                            <div class="dataGridCellContent">
                                                <span>{{char.CharacteristicName}}</span>
                                            </div>
                                        </td>
                                        <td align="left">
                                            <div class="dataGridCellContent">
                                                <span>{{char.ValueList[0].ValueText}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-repeat-end=""></tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>