<html>
<head>
</head>
<body>
    <script src="etel_/common/scripts/angular.min.js"></script>
    <script src="amx_common.js" type="text/javascript"></script>
    <script src="amx_angularmocks.js"></script>
    <script src="etel_/Content/scripts/angularsanitize.js"></script>
    <script src="amx_xeditable.js"></script>
    <script src="etel_/psb/common/scripts/jquery.min.js"></script>
    <script src="amx_jquery.ui.custom.js"></script>
    <link href="amx_xeditable.css" rel="stylesheet" type="text/css">
    <link href="amx_jquery.ui.css" rel="stylesheet" type="text/css">
    <link href="amx_bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="amx_/css/alert.css" rel="stylesheet" type="text/css">
    <script src="amx_/js/alert.js" type="text/javascript"></script>
    <script src="etel_jscripttranslationhandler.js" type="text/javascript"></script>
    <script src="etel_htmltranslate.js" type="text/javascript"></script>
    <script src="etel_/customersearch/scripts/script.js" type="text/javascript"></script>
    <script src="amx_ngfileupload.min.js"></script>
    <script src="amx_ngfileuploadshim.min.js"></script>
    <script src="amxperu_/Common/JS/XRMServiceToolkit.min.js"></script>
    <script src="documentManagerController.js"></script>
    <style>
        .amxfont {
            font-family: Segoe UI,Tahoma,Arial !important;
            font-size: 12px !important;
        }

        .space {
            margin-top: 10px;
        }

        .padding-label {
            padding-left: 0px !important;
        }
    </style>
    <div ng-app="app" ng-controller="Ctrl">
        <div class="space">
            <div class="form-group">
                <label for="adjuntarArchivo" class="col-md-3 control-label amxfont padding-label">Seleccione un archivo:</label>
                <div class="col-md-9">
                    <input class="amxfont" type="file" ngf-select="cargarAdjunto($files)" id="adjuntarArchivo">
                </div>
            </div>
        </div>
        <div>
            Documentos:
        </div>
        <div>
            <div ng-repeat="document in documents" ng-click="openDocument(document.target)">{{document.name}}</div>
        </div>
    </div>
</body>
</html>