<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AgentAPISOAP" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.24.42.211:8002/axis2/services/VP_POMAgentAPIService/"
                binding="basicHttpBinding" bindingConfiguration="AgentAPISOAP"
                contract="VP_POMAgentAPIService.VP_POMAgentAPIService" name="AgentAPISOAPQSPort" />
        </client>
    </system.serviceModel>
</configuration>